.control {
  // .control__label
  &__label {
    display: block;
    margin-bottom: torem(5);
    cursor: pointer;
  }

  // .control__input
  &__input {
    width: 100%;
    padding: 8px;
    background-color: $inputBg;
    border-radius: $border-radius;
    color: $textAccent;
    border: none;
    transition: $transition-duration;

    &:hover, &:focus-visible {
      outline: none;
      box-shadow: inset 0px -3px 0px 0px $blue;
    }
  }

  // .control__feedback
  &__feedback {
    display: none;
    color: $red;
    margin-top: torem(8);
    font-size: torem(12)
  }
}

@import "./control_pass/control_pass";
@import "./control_file/control_file";
