.messages {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: torem(10) torem(8);

  // .messages__data
  &__data {
    text-align: center;
  }

  // .messages__data-text
  &__data-text {
    padding: torem(3) torem(4);
    color: $textAccent;
    background-color: $accent;
    font-size: torem(10);
    border-radius: $border-radius;
    display: inline-block;
    margin-bottom: torem(5);
  }

  // .messages__item
  &__item {
    max-width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: $mainHover;
    border-radius: $border-radius;
    color: $text;
    font-size: torem(12);
    padding: torem(4) torem(8);
    margin-right: auto;
    margin-left: torem(12);

    &+.messages__item {
      margin-top: torem(5);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -12px;
      border: 12px solid transparent;
      border-bottom-color: $mainHover;
    }

    &_own {
      background-color: $inputBg;
      color: $textAccent;
      margin-left: auto;
      margin-right: torem(12);

      &::before {
        border-bottom-color: $inputBg;
        left: unset;
        right: -12px;
      }

      .messages__item-status {
        display: inline-block;
        color: $mainHover;
      }

      .messages__item-time {
        color: $mainHover;
      }
    }
  }

  // .messages__item-img
  &__item-img {
    // display: none;
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
    border-radius: $border-radius;
  }

  // .messages__item-text
  &__item-text {
    margin-bottom: torem(4);
    font-size: torem(12);
  }

  // .messages__bottom
  &__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  // .messages__item-time
  &__item-time {
    
    &+.messages__item-status {
      margin-left: torem(4);
    }
  }

  // .messages__item-status
  &__item-status {
    display: none;
    color: $secondary;
    width: 15px;
    height: 15px;

    &_recieved {
      color: $blue;
    }
  }
}