@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles//helpers/_mixins.scss";

.button-icon {
  display: flex;
  padding: 0;
  color: $text;
  background-color: transparent;
  border: none;
  transition: $transition-duration;

  &:hover {
    color: $accent;
  }
}
