@use "sass:color";

@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles//helpers/_mixins.scss";

.button {
  &__icon {
    display: flex;
    padding: 0;
    color: $text;
    background-color: transparent;
    border: none;
    transition: $transition-duration;

    &:hover {
      color: $accent;
    }
  }

  &__secondary {
    background-color: transparent;
    border: none;
    padding: 8px;
    color: $text;
    transition: $transition-duration;

    &:hover {
      background-color: $mainHover;
    }
  }

  &__primary {
    padding: 8px;
    color: $textAccent;
    font-weight: 700;
    text-align: center;
    background-color: $accent;
    border: none;
    border-radius: $border-radius;
    box-shadow: inset 0 -3px 0 0 color.adjust($color: $accent, $lightness: -20%);
    transition: $transition-duration;

    &:hover {
      background-color: color.adjust($color: $accent, $lightness: -10%);
    }

    &:focus {
      box-shadow: none;
    }
  }

  &_small {
    width: auto;
  }

  &_full {
    width: 100%;
  }

}
