@import "../../styles/helpers/variables";
@import "../../styles/helpers/functions";
@import "../../styles/helpers/mixins";

.form {
  width: 100%;
  // max-width: 280px;
  margin-right: auto;
  margin-left: auto;

  // .form__btns
  &__btns {
    display: flex;
    justify-content: flex-end;

    .button {
      &:not(:nth-child(even)) {
        margin-right: torem($px);
      }
    }
  }

  // .form__group
  &__group {
    margin-bottom: 1rem;

    // .form__group_row
    &_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // .form__link
  &__link {
    justify-content: center;
    margin-top: torem(20);
    color: $accentTr;
    font-size: torem(18);
  }

  // .form__submit
  &__submit {
    padding: torem(10) !important;
  }

  // .form__error
  &__error {
    position: absolute;
    top: 60px;
    right: 0.5rem;
    margin: 0;
    padding: 0.5rem;
    color: white;
    font-size: torem(18);
    background: #22202e;
    border: 3px solid #a71212;
    border-radius: 4px;
  }

  // .form__control + .form__submit
  &__control + &__submit {
    margin-top: torem(20);
  }

  // .form__control + .form__control
  &__control + &__control {
    margin-top: 1rem;
  }
}
