@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles/helpers/_mixins.scss";

.chat {
  flex-grow: 1;
  height: calc(100% - 60px);
  overflow-y: auto;
  background-color: $mainBg;

  @include media("sm") {
    overflow-y: initial;
    background-color: unset;
  }

  // .chat__content
  &__content {
    display: flex;
    width: 100%;
    height: 100%;

    @include media("sm") {
      height: 100%;
      border-radius: $border-radius;
      box-shadow: 0 0 2px 0 $secondary;
    }
  }

  // .chat__aside
  &__aside {
    // display: none;
    flex-grow: 1;
    max-width: 100%;

    @include media("sm") {
      display: flex;
      flex-direction: column;
      min-width: 276px;
      width: 20%;
      max-width: 320px;
      background-color: $mainBg;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }

  // .chat__contact-header
  &__contact-header {
    display: none;

    @include media("sm") {
      display: flex;
      align-items: center;
      padding: torem(12) torem(8);
      background-color: $darkBg;
    }

    .control {
      flex-grow: 1;
      font-size: torem(16);
      margin-right: torem(8);
      height: 40px;
    }
  }

  // .chat__footer
  &__footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $darkBg;

    @include media("sm") {
      display: none;
    }

    // .chat__footer-text
    &-text {
      font-weight: 700;
      font-size: (14);
      text-align: center;
    }

    // .chat__footer-button
    &-button {
      position: fixed;
      right: torem(8);
      bottom: torem(8);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      color: $text;
      background-color: $blue;
      border-radius: 50%;

      .icon {
        height: 21px;
      }
    }
  }


}
