@import "../../styles/helpers/variables";
@import "../../styles/helpers/functions";
@import "../../styles/helpers/mixins";

.icon {
  width: 25px;
  height: 25px;

  &_reflected {
    transform: scale(-1, -1);
  }
}
