@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles//helpers/_mixins.scss";

.icon {
  width: 25px;
  height: 25px;

  &_reflected {
    transform: scale(-1, -1);
  }
}
