---
stylesheets:
  - "../scss/pages/error-page.scss"
title: Страница не найдена
uri: /404
---

{{#extend "base"}}
  {{#content "header"}}
    <header class="header">
      <div class="header__content container">
        {{> logo}}
      </div>
    </header>
  {{/content}}
  {{#content "main"}}
    <main class="main">
      {{> error 
        name="404" 
        title="Ничего не найдено." 
        text="Страница, которую вы запрашиваете, не существует. 
        Возможно она устарела, была удалена, или был введен неверный адрес в адресной строке."
      }}
    </main>
  {{/content}}
{{/extend}}
