{{!-- ---
stylesheets:
  - ../scss/pages/form-page.scss
scripts:
  - ../js/pages/form-page.js
title: Изменить пароль
uri: /change-password
---

{{#extend "base"}}
  {{#content "header"}}
    <header class="header">
      <div class="header__content container">
        <a href="./chats.hbs" class="btn btn_icon">
          <div class="visually-hidden">Вернуться на предыдущю страницу</div>
          {{> icon icon="back"}}
        </a>
        {{}}
      </div>
    </header>
  {{/content}}
  {{#content "main"}}
    <main class="main">
      {{> title text="Изменить пароль"}}
      <form class="form">
        {{> control_pass name="oldPassword" label="Старый пароль"}}
        {{> control_pass name="newPassword" label="Новый пароль"}}
        {{> control_pass name="newPassword-repeat" label="Повторите новый пароль"}}
        {{> btn_primary text="Сохранить"}}
      </form>
    </main>
  {{/content}}
{{/extend}} --}}