---
bodyclass: chat
stylesheets:
  - ../scss/pages/chat-page.scss
title: Чаты
uri: /chats
contact: [
  {
    avatar: "avatar1.jpg",
    online: "",
    name: "Мария",
    last-message: "Как впечатления?",
    time: "9:36",
    counter: "1"
  },
  {
    avatar: "avatar2.jpg",
    online: "true",
    name: "Сестра",
    last-message: "смотри кто мне в бравл старс выпал",
    time: "Вт",
    counter: ""
  },
  {
    avatar: "avatar3.jpg",
    online: "true",
    name: "Алексей Тренер",
    last-message: "Привет! Завтра будешь утром ?",
    time: "Вт",
    counter: ""
  },
  {
    avatar: "avatar4.jpg",
    online: "",
    name: "Катя Петренко",
    last-message: "Я просто медленно подбираюсь к обустройству кухни...и для меня это ад",
    time: "Пн",
    counter: ""
  },
  {
    avatar: "avatar5.jpg",
    online: "",
    name: "Иван Дизайнер",
    last-message: "Добрый, хорошо, буду ждать новостей",
    time: "13.11.2022",
    counter: ""
  }
]
---

{{#extend "base"}}
  {{#content "header"}}
    <header class="header chat__header">
      <div class="header__content row-between container">
      {{> logo}}
      <div class="header__icons row-between">
        {{> btn_icon text="Поиск по контактам" icon="search"}}
        {{> btn_icon text="Открыть меню" icon="menu"}}
      </div>
    </header>
  {{/content}}

  {{#content "main"}}
    <main class="chat__main custom-scrollbar">
      <div class="chat__content">
        <aside class="chat__aside">
          <div class="chat__contact-header">
            {{> control class="" name="contact-search" placeholder="Поиск"}}
            {{> btn_icon class="" text="Открыть меню" icon="menu"}}
          </div>

          <div class="chat__contacts custom-scrollbar">
            {{#each contact}}
              {{> contact avatar=this.avatar online=this.online name=this.name last-message=this.last-message time=this.time counter=this.counter}}
            {{/each}}
            {{#each contact}}
              {{> contact avatar=this.avatar online=this.online name=this.name last-message=this.last-message time=this.time counter=this.counter}}
            {{/each}}
          </div>
        </aside>

        <div class="chat__dialog dialog">
          <div class="dialog__header">
            {{> avatar img="avatar2.jpg" marker="true"}}
            <div class="row-column">
              {{> name text="Сестра"}}
              {{> time text="онлайн"}}
            </div>
            {{> btn_icon text="Открыть меню чата" icon="dots"}}
          </div>
          <div class="dialog__body">
            <div class="messages custom-scrollbar">
              <div class="messages__content">
                <div class="messages__data">
                  <span class="messages__data-text">
                    15.11.2022
                  </span>
                </div>
                {{> message text="Ты уже вернулась домой?" class="messages__item_own" time="15:28"}}
                {{> message text="да" time="15:32"}}
                {{> message text="смотри кто мне в бравл старс выпал" img="message1" time="15:32"}} 
              </div>
            </div>
            <div class="dialog__empty">
              Выберите, кому хотели бы написать
            </div>
          </div>
          <div class="dialog__footer">
            {{> btn_icon text="Прикрепить файл" icon="paperclip"}}
            {{> control name="message" placeholder="Написать сообщение..."}}
            {{> btn_icon text="Выбрать эмоджи" icon="smile"}}
            {{> btn_icon text="Отправить сообщение" icon="send"}}
          </div>
        </div>
      </div>
    </main>
  {{/content}}

  {{#content "footer"}}
    <footer class="footer chat__footer">
      <div class="footer__content container">
        <p class="footer__text">
          Нажмите на кнопку, чтобы создать чат или добавить контакт.
        </p>

        <a href="./add-contact.hbs" class="btn btn_circle footer__btn">
          {{> icon icon="plus-user"}}
        </a>
      </div>
    </footer>
  {{/content}}
{{/extend}}
