---
stylesheets:
  - ../scss/pages/form-page.scss
title: Настройки профиля
uri: /user-settings
bodyclass: user-settings
---

{{#extend "base"}}
  {{#content "header"}}
    <header class="header">
      <div class="header__content container">
        <a href="./chats.hbs" class="btn btn_icon">
          <div class="visually-hidden">Вернуться на предыдущю страницу</div>
          {{> icon icon="back"}}
        </a>
        {{> logo class="header__logo"}}
      </div>
    </header>
  {{/content}}
  {{#content "main"}}
    <main class="main">
      <h1 class="title">Настройки профиля</h1>
      <form class="form">
        <div class="form__group row-between">
          {{> control_file name="avatar" accept="image/*"}}

          <a href="./change-pass.hbs" class="link">
            Изменить пароль
            <svg class="icon icon_reflected">
              <use href="../../static/icons/sprite.svg#back"></use>
            </svg>
          </a>
        </div>

        {{> control name="first_name" label="Имя" value="Аркадий"}}
        {{> control name="second_name" label="Фамилия" value="Самохвалов"}}
        {{> control name="login" label="Логин" value="mylogin"}}
        {{> control name="email" label="Почта" value="arkadii.samohvalov@bk.ru"}}
        {{> control name="phone" label="Телефон" value="+79515024652"}}
        {{> btn_primary text="Сохранить"}}
      </form>
    </main>
  {{/content}}
{{/extend}}