.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $darkBg;  

  // .header__content
  &__content {
    display: flex;
  }

  // .header__icons
  &__icons {
    .btn  + .btn  {
      margin-left: torem(10);
    }
    @include media('sm') {
      display: none;
    }
  }
}
