@import "../../styles/helpers/variables";
@import "../../styles/helpers/functions";
@import "../../styles/helpers/mixins";

.contact {
  display: flex;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  transition: $transition-duration;

  // .contact__avatar
  &__avatar {
    min-width: 40px;
    min-height: 40px;
    margin-right: torem(13);
  }

  // .contact__content
  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: calc(100% - 53px);

    .row-between:last-child {
      align-items: baseline;
    }
  }

  // .contact__row
  &__row {
    display: flex;
    justify-content: space-between;
  }

  // .contact__group
  &__group {
    flex-grow: 1;
    margin-right: torem(8);
  }

  // .contact__info
  &__info {
    justify-content: space-between;
  }

  // .contact__name
  &__name {
    margin-bottom: torem(6);
  }

  // .contact__own
  &__own {
    color: $red;
  }

  // .contact__last-message
  &__last-message {
    overflow: hidden;
    color: $secondary;
    font-size: torem(14);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // .contact__counter
  &__counter {
    margin-left: torem(8);
  }

  // .contact_active
  &_active {
    background: $accent;

    .contact__name,
    .contact__last-message,
    .contact__time,
    .contact__counter {
      color: $textAccent;
    }

    .contact__counter {
      background-color: $text;
    }

    .contact__avatar .avatar__marker {
      background: $accent;
    }
  }

  // .contact:hover
  &:hover {
    background: $mainHover;

    .contact__avatar .avatar__marker {
      background: $mainHover;
    }
  }
}
