.control_pass {
  position: relative;

  .control__icon {
    @include vert-center-absolute;
    color: $textAccent;
    right: 8px;
    cursor: pointer;

    &_hide {
      display: none;
    }
  }

  .control__input-wrapper {
    position: relative;
  }
}