@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles//helpers/_mixins.scss";

.header {
  display: flex;
  align-items: center;
  height: torem(60);
  padding: torem(12) 0;
  background-color: $darkBg;

  // .header__content
  &__content {
    display: flex;
    align-items: center;
  }

  // .header__group
  &__group {
    display: flex;
    align-items: center;
  }

  // .header__icons
  &__icons {
    padding: 5px !important;

    @include media("sm") {
      display: none;
    }
  }
}
