<div class='{{class}} avatar'>
  <picture>
    <img class='avatar__picture' src='../../static/img/{{img}}' alt='' />
  </picture>
  {{#if marker}}
    <div class='avatar__marker'></div>
  {{/if}}
</div>