<div class='control control_file'>
  <label class='control__label' for='{{name}}'>
    <svg class='control__icon'>
      <use href='../../static/icons/sprite.svg#image'></use>
    </svg>
  </label>
  <input
    class='control__input'
    name='{{name}}'
    id='{{name}}'
    type='file'
    accept='image/*'
  />
</div>