<div class="error">
  <strong class="error__name">{{name}}</strong>
  {{> title class="error__title" text=title}}
  <p class="error__text">{{text}}</p>
  <a class="error__back link" href="./chats.hbs">
    {{> icon icon="back"}}
    Вернуться к чатам.
  </a>
  <picture>
    <source srcset="../../static/img/{{name}}.webp" type="image/webp">
    <img class="error__img" src="../../static/img/{{name}}.png" alt="">
  </picture>
</div>