/* Overpass-Regular */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('#{$path-to-static}/fonts/Overpass-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('#{$path-to-static}/fonts/Overpass-Regular.woff') format('woff'), /* Modern Browsers */
}

/* Overpass-Bold */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('#{$path-to-static}/fonts/Overpass-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('#{$path-to-static}/fonts/Overpass-Bold.woff') format('woff'), /* Modern Browsers */
}
