.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $darkBg; 

  // .footer-text
  &__text {
    text-align: center;
    font-weight: 700;
    font-size: (14);
  }

  // .footer__btn
  &__btn {
    position: fixed;
    bottom: torem(8);
    right: torem(8);
    background-color: $blue;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: $text;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 21px;
    }
  }
}