@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles//helpers/_mixins.scss";

.control_password {
  position: relative;

  .control__icon {
    @include vert-center-absolute;
    width: 24px;
    height: 24px;
    right: torem(12);
    color: $textAccent;
    cursor: pointer;
    z-index: 1;

    &:hover {
      color: $textAccent;
    }

    // .control__icon
    &_hide {
      display: none;
    }
  }

  .control__input-wrapper {
    position: relative;
  }
}
