@import "../Control/control.scss";

.control_password {
  position: relative;

  .control__icon {
    @include vert-center-absolute;

    right: 8px;
    color: $textAccent;
    cursor: pointer;

    &_hide {
      display: none;
    }
  }

  .control__input-wrapper {
    position: relative;
  }
}
