@import "../Control/control.scss";

.control_password {
  position: relative;

  .control__icon {
    @include vert-center-absolute;
    width: 24px;
    height: 24px;
    right: torem(12);
    color: $textAccent;
    cursor: pointer;

    &_hide {
      display: none;
    }
  }

  .control__input-wrapper {
    position: relative;
  }
}
