@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles//helpers/_mixins.scss";

.control {
  // .control__label
  &__label {
    display: block;
    margin-bottom: torem(5);
    cursor: pointer;
    font-size: torem(18);
  }

  // .control__input
  &__input {
    width: 100%;
    padding: torem(10);
    color: $textAccent;
    background-color: $inputBg;
    border: none;
    border-radius: $border-radius;
    transition: $transition-duration;

    &:hover,
    &:focus-visible {
      outline: none;
      box-shadow: inset 0 -3px 0 0 $blue;
    }

    &:read-only {
      &:hover,
      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  // .control__feedback
  &__feedback {
    display: none;
    margin-top: torem($px);
    color: $red;
    font-size: torem(14);
  }
}
