@import "../../styles/helpers/variables";
@import "../../styles/helpers/functions";
@import "../../styles/helpers/mixins";

.chat-contacts {
  // .chat-contacts__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 24px;
      height: 24px;
      margin-left: torem(10);
    }
  }

  // .chat-contacts__text
  &__text {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $secondary;
    font-size: torem(18);
  }
}
//   .contact {
//     padding-right: torem(8);
//     padding-left: torem(8);
//   }

//   @include media("sm") {
//     flex-grow: 1;
//     overflow-y: auto;
//   }

//   &_empty {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     padding-top: torem(20);

//     .chat__contacts-button {
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       .icon {
//         margin-left: torem(8);
//       }
//     }

//     .chat__contacts-text {
//         flex-grow: 1;
//         height: 100%;
//         align-self: center;
//         display: flex;
//         align-items: center;
//         font-size: torem(18);
//         color: $secondary;
//     }
//   }
// }
