@import "../../styles/helpers/variables";
@import "../../styles/helpers/functions";
@import "../../styles/helpers/mixins";

.avatar {
  position: relative;
  width: 40px;
  height: 40px;

  // .avatar__picture
  &__picture {
    width: 100%;
    height: 100%;
  }

  // .avatar__img
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mask-composite: subtract;
  }

  // .avatar__icon
  &__icon {
    width: 60px;
    height: 60px;

    // .avatar__icon_hide
    &_hide {
      display: none;
    }
  }

  // .avatar__marker
  &__marker {
    position: absolute;
    right: 2px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color: $mainBg;
    border-radius: 50%;
    transition: $transition-duration;
    mask-composite: subtract;

    &::after {
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
      content: "";
    }
  }

  // .avatar_centred
  &_centered {
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar__picture {
      display: none;

      // .avatar__picture_show
      &_show {
        display: block;
      }
    }
  }

  // .avatar_empty
  &_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    background-image: linear-gradient(burlywood, $mainHover);
    border-radius: 50%;
  }

  // .avatar_full
  &_full {
    width: 100%;
    height: 100%;
  }
}
