<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>   
    <h1>Ссылки на страницы</h1>   
    <ul>
      <li><a href="./pages/login.hbs">Вход</a></li>
      <li><a href="./pages/signup.hbs">Регистрация</a></li>
      <li><a href="./pages/chats.hbs">Чаты</a></li>
      <li><a href="./pages/user-settings.hbs">Настройки пользователя</a></li>
      <li><a href="./pages/404.hbs">404</a></li>
      <li><a href="./pages/500.hbs">500</a></li>
    </ul>
  </main>
</body>
</html>

      
      
      
      
      
      