<!-- Doctype HTML5 -->
<!DOCTYPE html>
<html lang="ru">
{{#block "head"}}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#block "title"}}
      <title>{{title}}</title>
    {{/block}}

    {{#block "scss"}}
      {{#each stylesheets}}
        <link href="{{this}}" rel="stylesheet" />
      {{/each}}
    {{/block}}
  </head>
{{/block}}
{{#block "body"}}
  <body class="{{bodyclass}}">
    {{#block "header"}}
    {{/block}}

    {{#block "main"}}
    {{/block}}

    {{#block "footer"}}
    {{/block}}

    {{#block "scripts"}}
    {{#each scripts}}
    <script defer src="{{this}}" type="module"></script>
    {{/each}}
    {{/block}}
  </body>
{{/block}}
</html>