@use "sass:color";

@import "../../styles/helpers/variables";
@import "../../styles/helpers/functions";
@import "../../styles/helpers/mixins";

.link {
  display: flex;
  align-items: center;
  color: $accent;
  transition: $transition-duration;

  &:hover {
    color: color.adjust($color: $accent, $lightness: -10%);
  }
}
