@use "sass:color";

@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_functions.scss";
@import "../../styles//helpers/_mixins.scss";

.link {
  display: flex;
  align-items: center;
  color: $accent;
  transition: $transition-duration;

  &:hover {
    color: color.adjust($color: $accent, $lightness: -10%);
  }
}
